<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Person
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="addPerson">
      <ion-item>
        <ion-input formControlName="fullname" placeholder="Enter your Fullname">
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="email" placeholder="Enter your Email">
          <ion-icon name="at"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="age" type="number" placeholder="Enter your Age">
          <ion-icon name="calendar"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="salary" type="number" placeholder="Enter your Salary">
          <ion-icon name="card"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="block" fill="clear" style="width: 100%;" (click)="add()">Add</ion-button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>